
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLabel">Create or edit a Student</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="student.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                    ng-model="student.firstname"
                    required ng-minlength="3" ng-maxlength="20">

            <div ng-show="editForm.firstname.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstname.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.firstname.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.firstname.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                    ng-model="student.lastname"
                    required ng-minlength="3" ng-maxlength="35">

            <div ng-show="editForm.lastname.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastname.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lastname.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.lastname.$error.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_nickname">Nickname</label>
            <input type="text" class="form-control" name="nickname" id="field_nickname"
                    ng-model="student.nickname"
                    ng-maxlength="20">

            <div ng-show="editForm.nickname.$invalid">
                <p class="help-block"
                    ng-show="editForm.nickname.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_gender">Gender</label>
            <select class="form-control" name="gender" ng-model="student.gender" id="field_gender">
               <option value="male">male</option>
               <option value="female">female</option>
            </select>

        </div>
        <div class="form-group">
            <label for="field_yearOfServices">YearOfServices</label>
            <input type="number" class="form-control" name="yearOfServices" id="field_yearOfServices"
                    ng-model="student.yearOfServices"
                    >

        </div>
        <div class="form-group">
            <label for="field_dob">Dob</label>
            <input type="date" class="form-control" name="dob" id="field_dob"
                    ng-model="student.dob"
                    >

        </div>
        <div class="form-group">
            <label for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="student.comment"
                    ng-maxlength="256">

            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.maxlength" translate-value-max="256">
                    This field cannot be longer than 256 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
