
<div>
    <h2><span>Student</span> {{student.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Firstname</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{student.firstname}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Lastname</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{student.lastname}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Nickname</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{student.nickname}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Gender</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly"
                          translate-interpolation="messageformat"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>YearOfServices</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{student.yearOfServices}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Dob</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{student.dob}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Comment</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{student.comment}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="student"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
